<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
</head>
<body>
	<h2>商品詳細画面</h2>

	<form th:object="${shoppingForm}" th:action="@{confirm}" method="post">
		<input type="hidden" name="itemId" th:value="${dispItem.id}" />
		<input type="hidden" name="userId" th:value="${loginId}" />
		<table>
			<tr>
				<th colspan="2"><img th:src="${dispItem.imageUrl}"
					th:title="${dispItem.name}" height=300 /></th>
			</tr>
			<tr>
				<td><span th:text="${dispItem.name}">name</span></td>
				<td><span th:text="${dispItem.price}">price</span>円</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{count}" size="1" />個</td>
				<td><input type="submit" th:value="購入" /></td>
			</tr>
		</table>
	</form>

	<br>
	<div>
		<form th:object="${shoppingForm}" name="form1" th:action="@{backmenu}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form1.submit()">メニュー</a>
		</form>
	</div>
	<div>
		<form th:object="${shoppingForm}" name="form2" th:action="@{list}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form2.submit()">商品一覧</a>
		</form>
	</div>
	<div>
		<form th:object="${shoppingForm}" name="form3" th:action="@{history}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form3.submit()">購入履歴</a>
		</form>
	</div>
	<br>
	<div>
		<a th:href="@{login}">ログアウト</a>
	</div>
</body>
</html>