<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
</head>
<body>
	<h2>商品詳細画面</h2>

	<form th:object="${purchaseForm}" th:action="@{confirm}" method="post">
		<input type="hidden" name="itemId" th:value="${dispItem.id}" />
		<table>
			<tr>
				<th colspan="2"><img th:src="${dispItem.imageUrl}"
					th:title="${dispItem.name}" height=300 /></th>
			</tr>
			<tr>
				<td><span th:text="${dispItem.name}">name</span></td>
				<td><span th:text="${dispItem.price}">price</span>円</td>
			</tr>
			<tr>
				<td><input name="count" size="1" />個</td>
				<td><input type="submit" th:value="購入" /></td>
			</tr>
		</table>
	</form>

	<br>
	<div>
		<a th:href="@{backmenu}">メニュー</a>
	</div>
	<div>
		<a th:href="@{list}">商品一覧</a>
	</div>
	<div>
		<a th:href="@{menu}">購入履歴</a>
	</div>
	<br>
	<div>
		<a th:href="@{login}">ログアウト</a>
	</div>
</body>
</html>