<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入完了</title>
</head>
<body>
	<h2>購入完了画面</h2>

	<div>
		<span th:text="お買い上げありがとうございました。"></span>
	</div>
	<br>
	<div>
		<form th:object="${shoppingForm}" name="form1" th:action="@{backmenu}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form1.submit()">メニュー</a>
		</form>
	</div>
	<div>
		<form th:object="${shoppingForm}" name="form2" th:action="@{list}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form2.submit()">商品一覧</a>
		</form>
	</div>
	<div>
		<form th:object="${shoppingForm}" name="form3" th:action="@{history}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form3.submit()">購入履歴</a>
		</form>
	</div>
	<br>
	<div>
		<a th:href="@{login}">ログアウト</a>
	</div>
</body>
</html>