<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
	<h2>商品一覧画面</h2>

	<th:block th:each="item : ${itemList}">
		<form th:object="${shoppingForm}" th:action="@{detail}" method="post">
			<input type="hidden" name="itemId" th:value="${item.id}" />
			<input type="hidden" name="userId" th:value="${loginId}" />
			<table>
				<tr>
					<th rowspan="2"><img th:src="${item.imageUrl}"
						th:title="${item.name}" height=100 /></th>
					<td colspan="2"><span th:text="${item.name}">name</span></td>
				</tr>
				<tr>
					<td><span th:text="${item.price}">price</span>円</td>
					<td><input type="submit" th:value="詳細" /></td>
				</tr>
			</table>
		</form>
	</th:block>

	<br>
	<div>
		<form th:object="${shoppingForm}" name="form1" th:action="@{backmenu}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form1.submit()">メニュー</a>
		</form>
	</div>
	<div>
		<form th:object="${shoppingForm}" name="form2" th:action="@{history}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form2.submit()">購入履歴</a>
		</form>
	</div>
	<br>
	<div>
		<a th:href="@{login}">ログアウト</a>
	</div>
</body>
</html>