<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
</head>
<body>
	<h2>メニュー画面</h2>

	<div>
		<span th:text="|ようこそ、${loginName}さん|"></span>
	</div>
	<br>
	<div>
		<form th:object="${shoppingForm}" name="form1" th:action="@{list}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form1.submit()">商品一覧</a>
		</form>
	</div>
	<div>
		<form th:object="${shoppingForm}" name="form2" th:action="@{history}" method="post">
			<input type="hidden" name="userId" th:value="${loginId}" />
			<a href="javascript:form2.submit()">購入履歴</a>
		</form>
	</div>
	<br>
	<div>
		<a th:href="@{login}">ログアウト</a>
	</div>
</body>
</html>